process {
    withName:createContainer {
        container =  '/allen/programs/celltypes/workgroups/em-connectomics/laughla/Slurm/Singularity_Images/conochur-ac_reconstruct-latest.img'
        
        // definition of the slurm executor. Run the pipeline in a node able to submit jobs to a HPC via sbatch
        executor="slurm"

        // resources for default process execution
        cpus='30'
        time='50h'
        queue = 'emconnectome'
        memory = '50GB'
        maxForks = 40
    }
}


singularity {
    enabled = true
    pullTimeout = '60m'
}