params {

    deskew {
        deskew_in_files  = ""
        deskew_out_dir   = ""
        deskew_options =  "None"
        cloud_options = "None"
        max_mip          = 5
    }

    segment {
        seg_in_files  = ""
        seg_out_dir   = ""
        weights_file  = ""
        mask_files      = ""
        bounds        = ""
        cloud_options = "None"
        dsfactor      = 16
    }

    skeletonize {
        skel_in_files         = ""
        skel_out_dir          = ""
        cloud_options         = "None"
        prob_threshold        = 0.05
        label_size_threshold  = 100
        bounds                = "None"
        n_jobs                = 10
    }

    reconnect_skels {
        rec_out_dir  = ""
        rec_in_files = ""
        scaler_file  = "None"
        model_file   = "None"
    }

    contrast {
        con_out_dir   = ""
        mask_files      = ""
        bounds        = ""
        con_in_files  = ""
        cloud_options = "None"
        dsfactor      = 16
    }

    downsample {
        down_in_files = ""
        bounds        = ""
    }

}


profiles {
    hpc {

        apptainer {
            enabled = true
            cacheDir = '/allen/programs/celltypes/workgroups/em-connectomics/laughla/Slurm/Singularity_Images/'
            autoMounts = false
            runOptions = '--bind /home,/allen  --no-mount bind-paths'
            pullTimeout = '2h'
        }

        process {
            queue = 'emconnectome'
            clusterOptions = '--exclusive'
            
            
            withLabel: 'deskew_job' {
                container = 'docker://russtorres/axonal_connectomics:zarrpy2'
                executor  = 'slurm'
                cpus      = 12
                time      = '60:00:00'
                memory    = '50GB'
                maxForks  = 10
            }

            withLabel: 'segment_job' {
                container = 'docker://conochur/segment:latest'
                executor  = 'slurm'
                cpus      = 40
                time      = '60:00:00'
                memory    = '50GB'
                maxForks  = 10
            }

            withLabel: 'skeletonize_job' {
                container = 'docker://conochur/ac_deploy:latest'
                executor  = 'slurm'
                cpus      = 30
                time      = '60:00:00'
                memory    = '50GB'
                maxForks  = 40
            }

            withLabel: 'reconnect_job' {
                container = 'docker://conochur/ac_reconstruct:latest'
                executor  = 'slurm'
                cpus      = 30
                time      = '60:00:00'
                memory    = '50GB'
                maxForks  = 40
            }

            withLabel: 'contrast_job' {
                container = 'docker://conochur/segment:gunpowder'
                executor  = 'slurm'
                cpus      = 10
                time      = '60:00:00'
                memory    = '30GB'
                maxForks  = 40
            }

            withLabel: 'downsample_job' {
                container = 'docker://russtorres/axonal_connectomics:zarrpy2'
                executor  = 'slurm'
                cpus      = 3
                time      = '60:00:00'
                memory    = '30GB'
                maxForks  = 20
            }
        }
    }

    standard {
    
        docker {
            enabled = true
        }
        
        process {
            executor = 'local'
            containerOptions = '--volume /allen:/allen'
            beforeScript = 'chmod o+rw .'
            docker.enabled = true
        
            withLabel: 'deskew_job' {
                container = 'conochur/segment:latest'
            }
    
            withLabel: 'segment_job' {
                container = 'conochur/segment:latest'
            }
    
            withLabel: 'skeletonize_job' {
                container = 'conochur/ac_deploy:latest'
            }
    
            withLabel: 'reconnect_job' {
                container = 'conochur/ac_reconstruct:latest'
            }
    
            withLabel: 'contrast_job' {
                container = 'conochur/segment:gunpowder'
            }
    
            withLabel: 'downsample_job' {
                container = 'russtorres/axonal_connectomics:zarrpy2'
            }
        }
    }

    nodocker {
        process {
            executor = 'local'
        }
    }
}



