params {
      
      AWS_key     = "None"
      AWS_sec_key = "None"
      endpoint = "None"
      region = "us-west-1"
      profile = "None"
      
      skeletonize {
          prob_threshold = 0.05
          label_size_threshold = 100
          n_jobs = 10
      }
  
}

profiles {
    hpc {

        apptainer {
            enabled = true
            cacheDir = '/allen/programs/celltypes/workgroups/em-connectomics/laughla/API/singularity/'
            autoMounts = false
            runOptions = '--bind /home,/allen  --no-mount bind-paths'
            pullTimeout = '2h'
        }

        process {
            queue = 'emconnectome'
            clusterOptions = '--exclusive'
            
            
            withLabel: 'deskew_job' {
                container = 'docker://russtorres/axonal_connectomics:zarrpy3'
                executor  = 'slurm'
                cpus      = 12
                time      = '60:00:00'
                memory    = '50GB'
                maxForks  = 10
            }

            withLabel: 'segment_job' {
                container = 'docker://conochur/segment:latest'
                executor  = 'slurm'
                cpus      = 40
                time      = '60:00:00'
                memory    = '50GB'
                maxForks  = 10
            }

            withLabel: 'skeletonize_job' {
                container = 'docker://conochur/segment:latest'
                executor  = 'slurm'
                cpus      = 30
                time      = '60:00:00'
                memory    = '50GB'
                maxForks  = 40
            }

            withLabel: 'reconnect_job' {
                container = 'docker://conochur/ac_reconstruct:latest'
                executor  = 'slurm'
                cpus      = 30
                time      = '60:00:00'
                memory    = '50GB'
                maxForks  = 40
            }

            withLabel: 'equalize_job' {
                container = 'docker://conochur/segment:latest'
                executor  = 'slurm'
                cpus      = 10
                time      = '60:00:00'
                memory    = '30GB'
                maxForks  = 40
            }
        }
    }

    standard {
    
        docker {
            enabled = true
        }
        
        process {
            executor = 'local'
            containerOptions = '--volume /allen:/allen'
            beforeScript = 'chmod o+rw .'
            docker.enabled = true
            
        
            withLabel: 'deskew_job' {
                container = 'russtorres/axonal_connectomics:zarrpy3'
            }
    
            withLabel: 'segment_job' {
                container = 'conochur/segment:latest'
            }
    
            withLabel: 'skeletonize_job' {
                container = 'conochur/segment:latest'
            }
    
            withLabel: 'reconnect_job' {
                container = 'conochur/ac_reconstruct:latest'
            }
    
            withLabel: 'equalize_job' {
                container = 'conochur/segment:latest'
            }   
        }
    }

    nodocker {
        process {
            executor = 'local'
        }
    }
}


