process {
    withName:createContainer {
        container = "/allen/programs/celltypes/workgroups/em-connectomics/laughla/Slurm/Singularity_Images/conochur-segment-latest.img"
        
        // definition of the slurm executor. Run the pipeline in a node able to submit jobs to a HPC via sbatch
        executor="slurm"

        // resources for default process execution
        cpus='40'
        time='60h'
        queue = 'emconnectome'
        memory = '100GB'
        maxForks = 40
    }
}


singularity {
    enabled = true
    pullTimeout = '60m'
}