profiles {
    standard {
        process {
            executor = 'local'
            container = 'russtorres/asap-full:latest'
            containerOptions = '--volume /allen:/allen'
            beforeScript = 'chmod o+rw .'
        }
    }

    nodocker {
        process {
            executor = 'local'
        }
    }
    
    

   hpc {
        apptainer {
            enabled = true
            cacheDir = '/allen/programs/celltypes/workgroups/em-connectomics/laughla/Slurm/Singularity_Images/'
            autoMounts = false
            runOptions = '--bind /allen:/allen  --no-mount bind-paths'
            apptainer.pullTimeout = '2h'
        }

        process {
            maxForks = 30

            withName: createContainer {
                container = 'docker://russtorres/axonal_connectomics:zarrpy2'
                executor = "slurm"
                cpus = '40'
                time = '60:00:00'
                queue = 'emconnectome'
                memory = '40GB'
            }
        }
    }
}
